<%- include('../partials/header') %>

<div class="container mt-4">
    <h2><%= activity.name %></h2>
    <p><%= activity.description %></p>
    <p>Category: <%= activity.category %></p>
    <p>Date: <%= new Date(activity.date).toISOString().split('T')[0] %></p>
    <p>Location: <%= activity.location %></p>
    <p>Cost: $<%= activity.cost.toFixed(2) %></p>
    <!-- if same user condition  -->
    <a href="/activities/edit/<%= activity._id %>" class="btn btn-secondary">Edit</a>
    <a href="/activities/delete/<%= activity._id %>" class="btn btn-danger">Delete</a>   
    <% if (user) { %>
    <h3>Submit a Review</h3>
    <form action="/activities/<%= activity._id %>/reviews" method="POST">
        <div class="form-group">
            <label for="content">Review Content</label>
            <textarea id="content" name="content" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <input type="number" id="rating" name="rating" class="form-control" min="1" max="5" required>
        </div>
        <button type="submit" class="btn btn-primary">Post Review</button>
    </form>
    <% } %>
 
    <h3>Reviews</h3>
    <% activity.reviews.forEach(review => { %>
        <div>
            <p><%= review.content %></p>
            <p>Rating: <%= review.rating %></p>
            <!-- Display delete button only for reviews made by the logged-in user -->
            <% if (user && review.author && review.author.equals(user._id)) { %>
                <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-sm btn-danger">&times;</button>
                </form>
            <% } %>
        </div>
    <% }) %>
</div>

<%- include('../partials/footer') %>
