<%- include('../partials/header') %>

<div class="filter-by-category mb-3">
    <form action="/activities" method="GET">
        <div class="form-group">
            <label for="categoryFilter">Filter by Category:</label>
            <select class="form-control" id="categoryFilter" name="category" onchange="this.form.submit()">
                <option value="">All Categories</option>
                <option value="food" <%= selectedCategory === 'food' ? 'selected' : '' %>>Food</option>
                <option value="social" <%= selectedCategory === 'social' ? 'selected' : '' %>>Social</option>
                <option value="health and fitness" <%= selectedCategory === 'health and fitness' ? 'selected' : '' %>>Health and Fitness</option>
                <option value="sights" <%= selectedCategory === 'sights' ? 'selected' : '' %>>Sights</option>
                <option value="parties" <%= selectedCategory === 'parties' ? 'selected' : '' %>>Parties</option>                
            </select>
        </div>
    </form>
</div>
<div class="container mt-4">
    <h2>Activities List</h2>
    <% if (user) { %>
    <a href="/activities/new" class="btn btn-primary mb-3">Add New Activity</a>
    <% } %>
    <ul class="list-group">
        <% activities.forEach(activity => { %>
            <li class="list-group-item">
                <h5 class="mb-1"><%= activity.name %></h5>
                <p class="mb-1"><%= activity.description %></p>
                <p class="mb-1">Category: <%= activity.category %></p>
                <p class="mb-1">Date: <%= activity.date.toDateString() %></p>
                <p class="mb-1">Location: <%= activity.location %>, Cost: $<%= activity.cost.toFixed(2) %></p>
                <a href="/activities/<%= activity._id %>">View Details</a>
                <a href="/activities/edit/<%= activity._id %>" class="btn btn-secondary">Edit</a>
                <a href="/activities/delete/<%= activity._id %>" class="btn btn-danger">Delete</a>
            </li>
        <% }) %>
    </ul>
</div>

<%- include('../partials/footer') %>
